.carousel-item {
    position: relative;
  }
  
  .carousel-img {
    height: 600px;
    object-fit: cover;
    margin-bottom: 25px;
    z-index: 0;
  }
  
  /* Затемнение */
  .overlay-darken {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.4); /* Полупрозрачный черный фон */
    z-index: 1;
  }
  
  /* Контейнер для текста и кнопки поверх затемнения */
  .carousel-caption {
    z-index: 2;
  }


  #subscribeConfirmation {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #04DBC0;
    color: #000;
    border: 1px solid #000;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1060;
    display: none; /* Скрыто по умолчанию */
  }

  .btn-primaary{
    background-color: #04DBC0;
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    font-weight: 100;
    line-height: 50px;
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease-in-out;
}

.footer_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #e0e0e0; /* Цвет текста */
}

.footer_widget {
    margin-left: 20px;
}

.footer_widget h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #fff; /* Цвет заголовка */
}

.contact_info {
    list-style: none;
    padding: 0;
}

.contact_info li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.contact_info i {
    margin-right: 10px;
    color: #04DBC0; /* Цвет иконок */
}
