.cars_section {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.car-image {
    width: 100%;
    height: auto;
}

.carousel-caption {
    position: absolute;
    bottom: 50px;
    left: 20px;
    text-align: left;
}

.carousel-caption h8 {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.carousel-caption .btn {
    position: absolute;
    bottom: 0;
    right: 20px;
    background-color: #04DBC0; /* зеленый цвет */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-caption .btn:hover {
    background-color: #0d6efd; /* синий цвет при наведении */
}

/* Исправление позиции левой и правой стрелок */
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: brightness(0) invert(1); /* Сделать стрелки видимыми */
}